<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
	{{{body}}}
<div class="add-container">
	<input class='add-user' type="text">
	<input class='add-pass' type="text">
	<div class="add-access">
		<p>
		<label >
			<input type="checkbox" name="delete" value="delete">delete
			</label>
		</p>
		<p>
		<label >
			<input type="checkbox" name="add" value="add">add
			</label>
		</p>
		<p>
		<label >
			<input type="checkbox" name="edit" value="edit">edit
			</label>
		</p>
	</div>
	<button class='add'>add</button>
	<button class='out'>sign out</button>
</div>
<div class="all"></div>
<button class="get-all">show all users</button>
{{# if success }}
	<p>Успех</p>
	asdasd
{{ else }}
	{{# if errors }}
		{{# each errors }}
			<li>{{ this.msg }}</li>
		{{/each}}
	{{/if}}	
	<div class="router">
	<form action="/redirect" method='POST'>
		<input type="text" name="email">
		<input type="text" name="password">
		<input type="text" name="confirm">
		<button type="submit">send send sens</button>
	</form>
</div>
{{/if}}

<script>
	let form = $('.au'),
		addContainer = $('.add-container'),
		container = $('.container'),
		li;

	const getResult = res => {
		if(res){
			form.hide()
			addContainer.show()
			container.html(`Добро пожаловать, ${res}`)
			console.log(res)
		}else{
			form.show()
			addContainer.hide()
			container.html(`статус`)
		} 
	}


	$.ajax({
		url: '/cookie'
	}).then(res => {
		getResult(res)
	})
	.catch(err => console.log(err))


	$('.au button').click(function(e){
		console.log(form.serialize())
		e.preventDefault();
		$.ajax({
			method: 'post',
			url: form.attr('action'),
			data: form.serialize()
		}).then(res => {
			if(res){
				getResult(res)
			}else{
				container.html('Введенные данные не верны')
			}
			
		})
		.catch(err => console.log(err))
	})

	$('.add').click(() => {
		$.ajax({
		    url: '/post',
				method: 'post',
		    type: "POST",
		    dataType: "json",
		    data: 'output=iptraffic&_http_id=TIDe855a6487043d70a',
		    contentType: "application/json"
		}).then(res => console.log(res))
		.catch(err => console.log(err))
	})

/*
	$('.add').click(() => {
		$.ajax({
			url: '/post',
			method: 'post',
			data: {
				"name": $('.add-user').val(),
				"pass": $('.add-pass').val(),
				access: $('.add-access :checked').map((i, item) => item.value).get()
			}
		}).then(res => console.log(res))
		.catch(err => console.log(err))
	})

*/

	$('.out').click(() => {
		$.ajax({
			url: '/signOut'
		}).then(res => getResult(res))
		.catch(err => console.log(err))
	})

	$('.get-all').click(() => {
		$.ajax({
			url: '/get'
		}).then(res => {
			let data = res.map(item => `<li data-id=${item.id}>
				<input value=${item.name} class='edit-input'>
				<button class='edit'>edit</button>
				${item.name}
				<button class='delete'>delete</button>
				</li>`).join(' ')
			$('.all').html(data)

		$('.delete').on('click', function(e) {
			$.ajax({
				url: '/delete',
				method: 'delete',
				data: {id: $(this).parent().attr('data-id')}
			}).then(res => console.log(res))
		})

		$('.edit').on('click', function(e) {
			console.log('a')
			$.ajax({
				url: '/put',
				method: 'put',
				data: {
					name: $(this).parent().find('input').val(),
					id : $(this).parent().attr('data-id')
				}
			}).then(res => console.log(res))
			.catch(err => console.log(err))
		})

		})
		.catch(err => console.log(err))





	})

</script>
</body>
</html>